body {
  background-image: url('113027.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header{
  text-align: center;
  background-color:black;
  color:white;
}
.container{
  margin-top: 12em;
}

.container #epicNickName{
  background-color: purple;
  color:white
}

.container .input-group-append{
  background-color: black;
}

.container #submit{
color: white;
}

#platform{
  background-color: black;
  color: white;
}

#platform .dropdown-item{
  color: white;
}

.card-text-center{
  background-color: rgb(160, 42, 203);
}
